deepspeed==0.14.0
einops==0.8.0
fastapi==0.111.0
fastapi-cli==0.0.4
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.8/flash_attn-2.5.8+cu122torch2.3cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=13454dd3d37cf173649bd389b84614b8072fb283f8f2fd23a65ab66caafc304b
gradio==4.31.5
gradio_client==0.16.4
Jinja2==3.1.4
joblib==1.4.2
matplotlib==3.9.0
ninja==1.11.1.1
openai==1.35.13
protobuf==5.26.1
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers==3.0.1
sentencepiece==0.2.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.42.4
transformers-stream-generator==0.0.5
triton==2.3.0
trl==0.8.1
ujson==5.10.0
vllm==0.5.1
vllm-flash-attn==2.5.9
